.navbar li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-family: "Poppins", sans-serif;

    color: #E8EAE3;
    padding: 0px 20px;
}

.navbar li a:hover{
    color: #FA2742;
}

.navbar .misc .dropdown {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    background: black;
    padding: 10px 0px;
    position: absolute;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.navbar .misc:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.navbar .misc .dropdown li {
    display: block;
    position: relative;
    padding: 8px 0px;
}

.profile_image {
    height: 110px; 
    width: 100px; 
    border-radius: 50%
}