* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#E8EAE3;
}

html {
    scroll-behavior: smooth;
}

/* nav menu styling */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10%;
    width: 100%;
    position: fixed;
}

.logo {
    width: 50%;
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-family: "Poppins", sans-serif;

    color: #373833;
}

.nav_links li a:hover{
    color: #FA2742;
}

/* profile styling */

.profile {
    color: #373833;
}

.profile img {
    height: 110px; 
    width: 100px; 
    border-radius: 50%
}

.profile h1 {
    font-weight: 500;
}

.profile h3 { 
    font-weight: 300;
}

/* body styling */

div {
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    font-family: "Poppins", sans-serif;
    font-weight: 300;

    margin: 0 auto;
}

div h2 {
    padding: 50px;
    color: #FA2742;
}

.profile {
    min-height: 100vh;
}

.section {
    min-height: 80vh;
    background-color: #fff;
}

.section .container {
    margin: auto;
    width: 100%;
}

ul{
    text-align: left; 
    padding: 0; 
    margin: 0 auto; 
    width: fit-content;
}

table {
    margin: 0 auto; 
}

table img {
    width: 20%;
    height: auto;
    padding: 1px;
}

th td{
    padding: 50px;
}

footer {
    text-align: center;
}